extends layout/main-layout.pug
block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        div.grid
            each product in data
                article.card.product-item
                    header.card__header 
                        h1.product__title #{product.title}
                        .card__image    
                            img(src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
                        .card__content
                            h2.product__price $20.18
                            p.product__description a very beautiful product
                        .card__actions
                        button.btn Add to Cart                            